.skills{
  padding-top: 100px;
  margin-top: 5%;
  height: 700px;
}

.skillPanel{
  font-size: 18px;
  padding: 20px;
  color: #28262c; 
  margin: auto;
  height: 600px;
  width: 750px;
  background-color: rgb(113, 213, 194);
  box-shadow: 0 3px 5px 0 rgb(84, 84, 84), 0 0 0 0.1px rgb(86, 83, 83);
  border-radius: 5px;
}

@media (max-width: 858px){
  .skills{
    margin-bottom: 300px;
  }

  .skillPanel{
    font-size: 15px;
    width: 320px;
    height: auto;
  }
}