#about{
  margin-top: 420px;
  height: 750px;
  margin-bottom: 10%;
}

h2{
  color: #28262c; 
  font-size: 35px;
  margin-left: 200px;
  margin-bottom: 20px;
}

.card{
  padding: 30px;
  color: #28262c;
  font-size: 23px;
  margin: auto;
  background-color: #d4c2fc;
  height: 200px;
  width: 700px;
  box-shadow: 0 3px 5px 0 rgb(84, 84, 84), 0 0 0 0.1px rgb(86, 83, 83);
  border-radius: 15px;
}


.highlightY{
  color: #14248A;
}

.highlightB{
  color: #14248A;
}

@media (max-width: 858px){
  #about{
    margin-top: 150px;
    font-size: 14px;
  }

  h2{
    font-size: 20px;
    margin-left: 20px;
  }

  .card{
    margin-bottom: 20px;
    font-size: 15px;
    padding: 15px;
    height: 190px;
    width: 350px;
    background-color: rgb(113, 213, 194);
  }
}
