.contact{
  margin-top: 15%;
  height: 500px;
}

.contactPanel{
  display: flex;
  margin: auto;
  width: 800px;
  height: 200px;
}

.icon{
  margin: auto;
}

.icon img{
  background-color: rgb(113, 213, 194);
  border-radius: 100px;
  box-shadow: 0 3px 5px 0 rgb(123, 121, 121), 0 0 0 0.1px rgb(86, 83, 83);
  justify-content: center;
  height: 100px;
  width: 100px;
}

@media (max-width: 858px){
  .contact{
    padding-top: 100px;
    height: 350px;
  }

  .contactPanel{
    width: 350px  ;
  }

  .icon img{
    height: 50px;
    width: 50px;
  }
}